<!-- <form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)"> -->
<form #employeeForm="ngForm" (ngSubmit)="saveEmployee()">
<div class="panel panel-primary">
    <div class="panel-heading">
        {{panelTitle}}
    </div>
    <div class="panel-body">
        <div class="form-group" [class.has-error]="fullName.invalid && fullName.touched"
        [class.has-success]="fullName.valid">
            <label for="fullName" class="control-label">Full Name</label>
            <input  class="form-control" required type="text" id="fullName" [(ngModel)]="employee.name" name="fullName" 
            #fullName="ngModel">
            <span class="help-block" *ngIf="fullName.invalid && fullName.touched">Fullname is required</span>
        </div>
        <div class="form-group" [class.has-error]="email.invalid && contactPreference.value=='Email'" 
        [class.has-success]="email.valid && contactPreference.value=='Email'">
            <label for="email" class="control-label">Email</label>
            <input class="form-control" [required]="contactPreference.value=='Email'" [email]="contactPreference.value=='Email'" type="text" id="email" [(ngModel)]="employee.email" name="email"
            #email="ngModel">
            <span class="help-block" *ngIf="email.errors?.['required']" >
                email is required
            </span>
            <span class="help-block" *ngIf="email.errors?.['email']">
                email is invalid
            </span>
        </div>
        <div class="form-group" [class.has-error]="phoneNumber.invalid && contactPreference.value=='Phone'"
         [class.has-success]="phoneNumber.valid && contactPreference.value=='Phone'">
            <label for="phoneNumber" class="control-label">Phone Number</label>
            <input class="form-control" #phoneNumber="ngModel" [required]="contactPreference.value=='Phone'" type="text" id="phoneNumber" [(ngModel)]="employee.phoneNumber" name="phoneNumber">
            <span class="help-block" *ngIf="phoneNumber.invalid">Contact Preference is required</span>   
        </div>
        <div class="form-group" [class.has-error]="contactPreference.invalid && contactPreference.touched"
        [class.has-success]="contactPreference.valid">   
            <label class="control-label">Contact Preference</label>
            <div class="form-control">                
                <label class="radio-inline">
                    <input type="radio" required #contactPreference="ngModel" [(ngModel)]="employee.contactPreference" name="contactPreference" value="Phone">
                    Phone Number
                </label>       
                <label class="radio-inline">
                    <input type="radio" required #contactPreference="ngModel" [(ngModel)]="employee.contactPreference" name="contactPreference" value="Email">
                    Email
                </label>       
            </div>
            <span class="help-block" *ngIf="contactPreference.invalid && contactPreference.touched">Contact Preference is required</span>   
        </div>
        <div class="form-group" [class.has-error]="gender.invalid && gender.touched"
        [class.has-success]="gender.valid">
            <label class="control-label">Gender</label>   
            <div class="form-control" >          
                <label class="radio-inline">
                    <input type="radio" required #gender="ngModel" [(ngModel)]="employee.gender" name="gender" value="Male">
                    Male
                </label>       
                <label class="radio-inline">
                    <input type="radio" required #gender="ngModel"[(ngModel)]="employee.gender" name="gender" value="Female">
                    Female
                </label>       
            </div> 
            <span class="help-block" *ngIf="gender.invalid && gender.touched">Gender is required</span> 
        </div>
        <div class="form-group"> 
            <div class="form-control">          
                <label class="checkbox-inline">
                    <input type="checkbox" [(ngModel)]="employee.isActive" name="isActive">
                    IsActive
                </label>                         
            </div>  
        </div>
        <div class="form-group" [class.has-error]="department.invalid && department.touched">                    
            <label for="department" class="control-label">                
                Department
            </label>
            <select [(ngModel)]="employee.department" appselectvalidator="select" #department="ngModel" name="department" id="department" class="form-control"> 
               <!-- <option [ngValue]="null">Select Department</option> -->
               <option value="select">Select Department</option>
                <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}</option>
            </select>  
            <span class="help-block" *ngIf="department.invalid && department.touched">Department is required</span>                       
        </div>
        <div class="row">
            <div class="form-group col-xs-5">                  
                <label for="dateOfBirth">
                    Date of Birth
                </label>
                <input type="text" placement="right" bsDatepicker [bsConfig]='bsdateconfig'  [(ngModel)]="employee.dateOfBirth" name="dateOfBirth" id="dateOfBirth" class="form-control">                                   
            
                <!--<input type="text" placement="right" bsDatepicker [bsConfig]='bsdateconfig' [(ngModel)]="employee.dateOfBirth" name="dateOfBirth" id="dateOfBirth" class="form-control">    -->                               
            </div>
        </div>  
        <div class="form-group">
            <label for="photoPath">Photo path</label>
            <input  class="form-control" type="text" id="photoPath" [(ngModel)]="employee.photoPath" name="photoPath" >
        </div>  
        <div class="form-group" *ngIf="employee.photoPath!='' && employee.photoPath!=null">           
            <img [src]="employee.photoPath" width="200px" height="200px" *ngIf="showImage">
        </div>     
        <div class="form-group"  *ngIf="employee.photoPath!='' && employee.photoPath!=null">           
            <button type="button" class="btn btn-primary" (click)="ToggleHideAndShow()">{{showImage?"Hide":"Show"}} image</button>    
        </div>
       
        <div ngModelGroup="passwordGroup" #passwordGroup="ngModelGroup" 
        [class.has-error]="confirmPasswordcontrol.errors?.['notequal'] && confirmPasswordcontrol.touched && !confirmPasswordcontrol.errors?.['required']">
            <div class="form-group" [class.has-error]="passwordcontrol.invalid && passwordcontrol.touched">
                <label for="password" class="control-label">Password</label>
                <input  (input)="confirmPasswordcontrol.control.updateValueAndValidity()" class="form-control" required type="text" id="password" [(ngModel)]="password" name="password" 
                #passwordcontrol="ngModel">
                <span class="help-block" *ngIf="passwordcontrol.invalid && passwordcontrol.touched">password is required</span>
            </div>
            <div class="form-group" [class.has-error]="confirmPasswordcontrol.invalid && confirmPasswordcontrol.touched">
                <label for="confirmPassword" class="control-label">Confirm Password</label>
                <input  class="form-control" required passwordValidator="password" type="text" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" 
                #confirmPasswordcontrol="ngModel">
                <span class="help-block" *ngIf="confirmPasswordcontrol.errors?.['required'] && confirmPasswordcontrol.touched">password is required</span>
                <span class="help-block" *ngIf="confirmPasswordcontrol.errors?.['notequal'] && confirmPasswordcontrol.touched && !confirmPasswordcontrol.errors?.['required']">password is not equal</span>
            </div>
        </div>
        <!-- <div class="form-group" [class.has-error]="fullnamecontrol.invalid && fullnamecontrol.touched"
        [class.has-success]="fullnamecontrol.valid">
            <label for="fullName" class="control-label">Full Name</label>
            <input  class="form-control" required type="text" id="fullName" [(ngModel)]="fullName" name="fullName" 
            #fullnamecontrol="ngModel">
            <span class="help-block" *ngIf="fullnamecontrol.invalid && fullnamecontrol.touched">Fullname is required</span>
        </div>
        <div>touched:{{fullnamecontrol.touched}}</div>
        <div>untouched:{{fullnamecontrol.untouched}}</div>
        <div>pristine:{{fullnamecontrol.pristine}}</div>
        <div>dirty:{{fullnamecontrol.dirty}}</div>
        <div>valid:{{fullnamecontrol.valid}}</div>
        <div>invalid:{{fullnamecontrol.invalid}}</div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" id="email" [(ngModel)]="email" name="email">
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input class="form-control" type="text" id="phoneNumber" [(ngModel)]="phoneNumber" name="phoneNumber">
        </div>
        <div class="form-group">   
            <label>Contact Preference</label>
            <div class="form-control">                
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="contactPreference" name="contactPreference" value="phone">
                    Phone Number
                </label>       
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="contactPreference" name="contactPreference" value="email">
                    Email
                </label>       
            </div>  
        </div>
        <div class="form-group">
            <label>Gender</label>   
            <div class="form-control">          
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="gender" name="gender" value="male">
                    Male
                </label>       
                <label class="radio-inline">
                    <input type="radio" [(ngModel)]="gender" name="gender" value="female">
                    Female
                </label>       
            </div>  
        </div>
        <div class="form-group"> 
            <div class="form-control">          
                <label class="checkbox-inline">
                    <input type="checkbox" [(ngModel)]="isActive" name="isActive">
                    IsActive
                </label>                         
            </div>  
        </div>
        <div class="form-group">                    
            <label for="department">                
                Department
            </label>
            <select [(ngModel)]="department" name="department" id="department" class="form-control"> 
               <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}</option>
            </select>                         
        </div>
        <div class="row">
            <div class="form-group col-xs-5">                  
                <label for="dateOfBirth">
                    Date of Birth
                </label>
                <input type="text" placement="right" bsDatepicker [bsConfig]='bsdateconfig' [(ngModel)]="dateOfBirth" name="dateOfBirth" id="dateOfBirth" class="form-control">                                   
            </div>
        </div>  
        <div class="form-group">
            <label for="photoPath">Photo path</label>
            <input  class="form-control" type="text" id="photoPath" [(ngModel)]="photoPath" name="photoPath" >
        </div>  
        <div class="form-group">           
            <img [src]="photoPath" width="200px" height="200px" *ngIf="showImage">
        </div>     
        <div class="form-group">           
            <button type="button" class="btn btn-primary" (click)="ToggleHideAndShow()">{{showImage?"Hide":"Show"}} image</button>    
        </div> -->
    </div>
    <div class="panel-footer"> 
        <button type="button" class="btn btn-primary" (click)="ResetForm(employeeForm)">Reset</button>    
      
        <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">Save</button>    
    </div>
</div>
</form>

Angular Generated Form Model: {{employeeForm.value|json}}
<br>
<br>
Our Form Model: {{employee|json}}
<div *ngIf="showLoader" class="spinner"></div>